body, html {
  font-family: Arial, sans-serif;
  height: 100ivh;
  margin: 0;
  padding: 0; }

.footer {
  background-color: #34495E;
  color: #FFFFFF;
  position: relative;
  top: 120px;
  height: 60px;
  text-align: center;
  padding: 1rem; }

.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: calc(100vh - 60px);
  padding: 2rem;
  overflow-x: hidden; }
  .feed .post-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: calc(100% - 2rem * 2);
    max-width: 1500px; }

.post {
  flex: 1 0 300px;
  max-width: 300px;
  width: 300px;
  height: 300px;
  border: 1px solid #e1e1e1;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px; }

.post-card {
  height: 85%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 1s;
  transform-style: preserve-3d; }

.post-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.05); }

.post-image {
  margin: auto 1px; }

.post-title {
  margin-top: 1rem; }

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; }

.btn-like, .btn-share, .btn-save {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s; }
  .btn-like img, .btn-share img, .btn-save img {
    width: 20px;
    height: 20px; }
  .btn-like img:hover, .btn-share img:hover, .btn-save img:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: scale(1.2); }
