@import "pages/account.scss";
@import "pages/index.scss";
@import "pages/authorization.scss";

@import "components/navbar.scss";
@import "components/footer.scss";


body, html {
  font-family: Arial, sans-serif;
  height: 100ivh;
  margin: 0;
  padding: 0;
}

