//COLORS

$navbar-bq: #2C3E50;
$footer-bg: #34495E;

$btn-color: #3498DB;
$red-bth-color: #FF0000;

$comment-bg: #ECF0F1;
$font-color: #FFFFFF;

$input-form-bq: #fff;
$input-form-input: #e1e1e1;

// POSTS SETTINGS

$feed-padding: 2rem;
$post-width: 300px;
$post-height: 300px;
$max-columns: 5;


//HEADER
$navbar-height: 60px;


//FOOTER
$footer_height: 60px;